{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'consummate/styles.css' %}">
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <ul id="navbar">
            <li class="navel"><a href="{% url 'expirations' %}">Expiring</a></li>
            <li class="navel"><a href="#">Features</a></li>
            <li class="navel"><a href="#">Notes</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>